.link-container {
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
.cadastro {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding-bottom: 1rem;
}
.title {
  background-image: linear-gradient(45deg, #333333, #575757);
  width: 100%;
  margin-bottom: 1rem;

  color: white;
  font-size: 20px;
  line-height: 22px;
  font-weight: bold;
  padding: 6px 12px;
}

.subwrapHeader {
  margin-bottom: 20px;
  text-align: start;
}

.flow {
  overflow-y: auto;
  height: 70%;
  border: 2px solid #575757;
}

table {
  background-color: #fff;
  border-spacing: 0;
  width: 100%;
}
table th {
  background-color: #575757;
  color: #fff;
  padding: 8px;
  font-size: 20px;
  line-height: 22px;
}
table td {
  padding: 8px;
  font-size: 20px;
  line-height: 22px;
  text-align: center;
}
table tr:not(.thead) {
  cursor: pointer;
  height: 48px;
}
table tr:nth-child(even) {
  background-color: #eee;
}
table tr:hover:not(.thead) {
  background-color: #ddece4;
}